.navbar {
  background-color: #000000;
  height: 40px;
  width: 100%;
  padding: 3.5rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 3px 41px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 3px 41px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 3px 41px -12px rgba(0, 0, 0, 0.75);
  position: relative;
}

.logo {
  width: 85px;
}

::placeholder {
  font-size: 16px;
}

.teamslink a {
  font-size: 22px;
  font-weight: 500;
  font-family: Roboto;
  color: whitesmoke;
}
